@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: dodgerblue;
  color: white;
  text-align: center;
  padding: 1em 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: #333;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5em;
}

nav ul li a:hover {
  background-color: dodgerblue;
  border-radius: 5px;
}

.content {
  padding: 2em;
  text-align: center;
  background-color: #f4f4f4;
}

.parallax {
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax0 {
  background-image: url("images/cidadeDeCabo2.jpg");
}

.parallax1 {
  background-image: url("images/Gaborone2.jpg");
}

.parallax2 {
  background-image: url("images/mbambane.jpg");
}

.parallax3 {
  background-image: url("images/Maseru.jpg");
}

.parallax4 {
  background-image: url("images/capitalNamibia\(\).jpg");
}

.parallax5 {
  background-image: url("images/knowledge.jpg");
  min-height: 700px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  margin-top: 2em;
}
