@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand,
.nav-link {
    color: white !important;
}

.nav-link:hover,
.dropdown:hover .nav-link {
    background-color: burlywood;
    color: black !important;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.8);
}

.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    background-color: burlywood;
    color: black !important;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    text-align: center;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: #000;
}
