div.parallax {
  margin: 35px;
  border: 3px solid rgb(0, 0, 0);
}

@media (max-width: 600px) {
  .parallax0 {
    background-image: url("capitalAfricaDoSul.jpg");
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  

.parallax1 {
  background-image: url("images/CapitalBotswana\(Gaborone\).jpg");
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url("capitalMbabane.jpg");
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  background-image: url("images/capitalLesoto\(Maseru\).jpg");
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax4 {
  background-image: url("images/capitalNamibia\(\).jpg");
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax5 {
  background-image: url("https://source.unsplash.com/random/1920x1080/?learning");
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

}

@media (min-width: 601px) {
    
  .parallax0 {
    background-image: url("cidadeDeCabo2.jpg");
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  

.parallax1 {
  background-image: url("Gaborone2.jpg");
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url("mbambane.jpg");
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.parallax3 {
  background-image: url("Maseru.jpg");
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.parallax4 {
  background-image: url("images/capitalNamibia\(\).jpg");
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax5 {
  background-image: url("https://source.unsplash.com/random/1920x1080/?learning");
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
}


b {
  color: dodgerblue;
}